player-connection-mode=Listen
player-connection-guid=1969131195
player-connection-debug=0
player-connection-project-name=ROB_VR
player-connection-ip=192.168.144.37
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
build-guid=78bdfa13f2e24f20a2c9f923eb6a89f3
